{% extends "master.html" %}

{% block title %}
  Cadastro de Artistas e Álbuns
{% endblock %}


{% block content %}
  <h1>Minha lista de Artistas e Álbuns</h1>

  <h3>Artistas</h3>
  
  <p>Confira todos os nossos <a href="artistas/">artistas</a></p>

  <p>Para adicionar um novo artista, <a href="artistas/adiciona_artista/">clique aqui.</a></p>

  <h3>Álbuns</h3>

  <p>Confira todos os <a href="albuns/">álbuns</a></p>

  <p>Para adicionar um novo álbum, <a href="albuns/adiciona_album/">clique aqui.</a></p>

{% endblock %}